.user-input{
    display: block;
    margin: 15px auto;
    width: 100%;
    height:40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    font-size:22px
}
.user-input:active, .user-input:focus{
    outline: none;
}
body{
    background-color: #cbe4f9;
    background-image: linear-gradient(62deg, #cbe4f9 0%, #c1c4ff 100%);
}
.btn-auth{
    background-color: #6c376a;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 3px;
}
.btn-auth:hover{
    background-color: #b33daf;
}
.signup-login-form{
    width: 500px;
    height:auto;
    border: 2px solid rgb(141, 35, 136);
    padding: 20px;
    margin: auto;
    display: block;
    border-radius: 10px;
    
}
.signup-login-heading{
    font-size: 28px;
    text-align: center;
    margin: 40px;
    color: rgb(141, 35, 136);
    font-weight: bold;
  

}
.signup-login-link{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}