.transaction-card{
    /* border: 2px solid rgb(141, 35, 136); */
    border: 1px solid grey;
    box-shadow: 0 0 5px  black;
    border-radius: 8px;
    margin: 10px 30px;
    padding: 10px;
    position: relative;
}
.transaction-card-title{
    margin: 0 0;
    font-size: 20px;
}
.transaction-card-amount{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 25px;
}
.transaction-card-date{
    font-size: 12px ;
}
.transaction-card-category{
    font-size: 12px ;
    background-color: rgb(141, 35, 136);
    color: white;
    position: absolute;
    right: 10px;
    bottom: 5px;
    padding: 2px 8px;
    border-radius: 25px;
}
.delete-transaction-btn{
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 2px 10px;
    border-radius: 20px;
    margin-left: 30px;
    cursor: pointer;
    border: none;
}
.delete-transaction-btn:hover{
    background-color: rgb(141, 35, 136);
    /* font-size: 11px; */
}