.home-body{
    width: 1000px;
    margin:0px auto;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    max-height:600px;
    padding:0px;
    border-radius:10px
 }
 .Home-heading{
     color: rgb(141, 35, 136);
     font-size: 28px;
     font-weight: bold;
     font-style:oblique;
     margin: 20px 20px;  
 }
 .Home-greeting{
     font-size: 20px;
     margin: 20px 20px;  
     font-style:oblique;
     font-weight: bold
 }
 .home-logout{
     position: fixed;
     top: 10px;
     right: 10px;
     cursor: pointer;
     font-size: 15px;
 }
 .net-transaction-value{
     display: flex;
     justify-content: space-evenly;
     margin: 10px auto;
 }
 .net-transaction-value-item{
     text-align: center;
     width: 180px;
     border: 2px solid rgb(141, 35, 136);
     padding: 5px;
     border-radius: 5px;
 }
 .net-transaction-value-title{
     display: block;
     text-align: center;
 }
 .net-transaction-value-amount{
     display: block;
     text-align: center;
     font-size: 25px;
     font-weight: bold;
 }
 .transactions-container{
     max-height: 700px;
     width: 700px;
     margin:20px auto;
     padding:10px;
     overflow-y: scroll;
 }
 .add-transaction{
     height: 50px;
     position: fixed;
     bottom: 10px;
     right: 10px;
     cursor: pointer;
 }